.header-contact {
  background-color: #fd713c;
  height: 201px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  .background-contact {
    background-color: #f6f4e7;
    height: 100px;
  }
}

.background-contact {
  background: #f6f4e7;
}

.informations-contact {
  margin-top: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
}

.title-contact {
  margin-top: 47px;
  margin-bottom: -30px;
}
.pauline-contact {
  margin-bottom: 78px;
}

.line-contact {
  margin-top: 250px;
  margin-bottom: 47px;
  height: 7px;
  background: #fd713c;
}

.background-contact {
  height: 880px;
  background: #f6f4e7;
}

.separation {
  margin-left: 33px;
  margin-bottom: -200px;
  margin-top: -1;
  width: 2px;
  height: 170px;
  background: #000;
}
