.font-header {
  background: #f6f4e7;
  height: 216px;
}

.photo-title {
  margin-top: 114px;
}

.marge-détail {
  height: 44px;
}

.COUVERTURES {
  position: relative;
}
.couverture-link {
  position: absolute;
  top: 35px;
  left: 42px;
}
