/* HEADER */

.font-header {
  background: #f6f4e7;
  height: 216px;
}

/* COUVERTURES*/

.COUVERTURES {
  position: relative;
}
.couverture-link {
  position: absolute;
  top: 35px;
  left: 42px;
}

.detail-photo {
  font-size: 20px;
}

/* MARGE */

.marge-détail {
  height: 44px;
}

.couverture-photo-01 {
  margin-top: 52px;
  margin-bottom: 47px;
}
.couverture-photo-02 {
  margin-bottom: 47px;
}
.couverture-photo-03 {
  margin-bottom: 47px;
}
.couverture-photo-04 {
  margin-bottom: 47px;
}
