/* HEADER */

.font-header {
  background: #f6f4e7;
  height: 216px;
}

/* COUVERTURES*/

.COUVERTURES {
  position: relative;
}
.couverture-link {
  position: absolute;
  top: 35px;
  left: 42px;
}

/* MARGE */

.marge-détail {
  height: 44px;
}
