.header-01 {
  height: 201px;
  background: #f6f4e7;
}
.header-graphism {
  height: 134px;
  background: #fd713c;
  margin-bottom: 95px;
}

.graphisme-title {
  margin-top: 4.5%;
}

.marge-graphisme {
  margin-top: 133px;
}

.AFFICHES-title {
  margin-top: 220px;
}
.PROJETS-title {
  margin-top: 280px;
  margin-left: -100px;
}
.LOGOS-title {
  margin-top: 120%;
}
