.header-01 {
  height: 150px;
  background: #f6f4e7;
}
.header-graphism {
  height: 200px;
  background: #fd713c;

  margin-bottom: 95px;
}

.titre-graphisme {
  background-color: #f6f4e7;
  height: 150px;
}

.graphisme-title {
  margin-top: 46px;
}

.marge-graphisme {
  margin-top: 133px;
}

.AFFICHES-title {
  margin-top: 220px;
}
.PROJETS-title {
  margin-top: 280px;
  margin-left: -100px;
}
.LOGOS-title {
  margin-top: 120%;
}
