/* HEADER */

.header-2 {
  height: 200px;
  background: #fd713c;
  margin-bottom: 52px;
}

.header-1 {
  height: 150px;
  background: #f6f4e7;
}

/* TITLE */

.photo-title {
  margin-top: 46px;
}
.texte {
  font-size: 20px;
}

/* MEDIAQUERIE */

@media (width <= 900px) {
  h1 {
    font-size: 65px;
  }
  .font-header {
    height: 79px;
  }
  .header-photo-02 {
    height: 80px;
  }
  p {
    font-size: 10px;
    text-align: center;
  }
  .title-photo {
    font-size: 60px;
  }
}
