.font-header {
  height: 150px;
}

.photo-title {
  margin-top: 46px;
}

.header-photo-02 {
  height: 200px;
  background: #fd713c;
}

p {
  font-size: 20px;
}

@media (width <= 900px) {
  h1 {
    font-size: 65px;
  }
  .photo-title {
    margin-top: 20px;
  }
  .font-header {
    height: 79px;
  }
  .header-photo-02 {
    height: 80px;
  }
  p {
    font-size: 10px;
    text-align: center;
  }

  .title-photo {
    font-size: 60px;
  }
}
