.header-presentation-01 {
  height: 128px;
  background: #f6f4e7;
}

.title-presentation {
  margin-top: 25px;
  margin-bottom: -25px;
}
.header-presentation-02 {
  height: 201px;
  background: #fd713c;
  margin-bottom: 86px;
}

.presentation-font {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
}
