/* BACKGROUND */

.header-2 {
  height: 200px;
  background: #fd713c;
  margin-bottom: 180px;
}

.header-1 {
  height: 150px;
  background: #f6f4e7;
}

/* HEADER */

.header {
  background-color: #f6f4e7;
  height: 50px;
  white-space: 80px;
  flex: 50px;

  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

/* TITLE */

.title-presentation {
  margin-top: 46px;
  margin-bottom: -25px;
}
.presentation-font {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
}

.line {
  margin-top: 27px;
  margin-bottom: 47px;
  height: 7px;
  background: #f6f4e7;
}

/* MEDIAQUERIES*/

@media (max-width: 567px) {
  .presentation-font {
    background-color: aqua;
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 12px;
  }
  .title-presentation {
    margin-top: 25px;
    margin-bottom: -25px;
    font-size: 100px;
  }
  .presentation-font {
    background-color: rgb(214, 93, 214);
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
  }
  h2 {
    font-size: 30px;
  }

  .header-presentation-01 {
    height: 110px;
    background: #f6f4e7;
  }
  .header-presentation-02 {
    height: 150px;
    background: #fd713c;
    margin-bottom: 40px;
  }

  .marge-47px {
    margin-top: 47px;
  }
  .line {
    margin-top: 47px;
  }
}

@media (max-width: 1000px) {
  .presentation-font {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
  }
}

/* ATTENTION, IL FAUT ABSOLUMENT REVOIR 
POUR METTRE LE TEXTE CORRECTEMENT 
ET RESPONSIVE */
