.projet-title {
  margin-top: 30px;
  margin-bottom: 0px;
}

.projets {
  text-align: right;
  margin-top: 20px;
}

.projet-mobiles {
  margin-top: 84px;
}

.MOBILE-title {
  margin-top: 180px;
  margin-bottom: 47px;
}
.MEP-title {
  text-align: end;
  margin-top: 180px;
  margin-bottom: 52px;
}
.GD-title {
  margin-top: 180px;
  margin-bottom: 52px;
}

.background-graphisme {
  height: 119px;
  background: #fd713c;
}

.mep-typo {
  margin-top: -5px;
}
