.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  padding-top: 50px;
}
.header {
  font-size: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #f6f4e7;
}

.ACCUEIL-right {
  font-size: 16px;
  text-align: right;
  align-items: right;
  justify-content: right;
  margin-left: 190px;
}

.text {
  margin-top: 44px;
  margin-bottom: 44px;
}

.marge {
  margin-top: 180px;
}

.marge-47px {
  height: 47px;
}

/* MEDIAQUERIES */

@media (width <= 1000px) {
  p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
  }

  .header {
    background-color: #f6f4e7;
    height: 50px;
    white-space: 80px;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 110px;
  }
}

@media (width >= 1000px) {
  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 210px;
  }
}

@media (width >= 992px) {
  p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 145px;
  }
}

img,
video {
  display: block;
}

.news-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
}
