.text {
  margin-top: 44px;
  margin-bottom: 44px;
}

.marge {
  margin-top: 180px;
}

.marge-47px {
  height: 47px;
}

.header-2 {
  height: 200px;
  background: #fd713c;
  margin-bottom: 180px;
}

.header-1 {
  height: 150px;
  background: #f6f4e7;
}

/* ------------------- MEDIAQUERIES ------------------- */

@media (width <=977px) {
  p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
  }

  .header {
    background-color: #f6f4e7;
    height: 50px;
    white-space: 80px;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 90px;
  }
}

@media (width >= 900px) {
  p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 100px;
  }
}

img,
video {
  display: block;
}

.news-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
}

@media (width >= 1000px) {
  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
  }

  h4 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .ACCUEIL-right {
    margin-left: 185px;
  }
}

@media (width >= 1200px) {
  .ACCUEIL-right {
    margin-left: 200px;
  }
}
